@import "./tailwind.css";
@import "./shadcn.css";

/* 响应式 */
html {
  /* 移动端 - 基准为 375px */
  font-size: calc(100vw / 375 * 16);

  --header-height: 44px;

  @media screen and (min-width: 768px) {
    /* 平板及以上 - 固定 16px */
    font-size: 16px;

    --header-height: 72px;
  }

  @media screen and (max-width: 320px) {
    /* 小屏幕兜底 - 最小 320px */
    font-size: calc(320px / 375 * 16);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}



/* 组件 */
@layer components {
  .responsive-container {
    @apply w-full mx-auto max-w-[1440px] px-4 md:px-30;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .absolute-x-center {
    @apply absolute left-1/2 -translate-x-1/2;
  }

  .absolute-y-center {
    @apply absolute top-1/2 -translate-y-1/2;
  }
}